/* You can add global styles to this file, and also import other style files */
.bg-lightblue {
  background-color: #CFD8DC;
}

.bg-gray {
  background-color: #EEE;
}

.text-white {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 9999px;
}
